<div class="patient-history mat-typography">
  <div class="row">
    <section class="large-12 section-header">
      <span>EPA Assessment - {{ component }} </span>
    </section>
    <mat-card class="large-12 columns cyberWrap equalize outer-card">
      <mat-card-header>
        <mat-card-title>
          <section class="description">
            <h3>Record your Communications)</h3>
          </section>
        </mat-card-title>
        <mat-card-subtitle>

          <section>
            <p class="description-paragrap">
              Obtains history and perform physical exam adapted to the patients
              situation . Record yourself speaking to the appropriate parties below.
            </p>
            <mat-divider></mat-divider>
          </section>
        </mat-card-subtitle>
      </mat-card-header>
      <section>
        <mat-divider></mat-divider>
      </section>
      <mat-card-content>
        <section class="parent">
          <mat-accordion DisplayMode="flat" [multi]="false">
            <mat-expansion-panel class="mat-elevation-z0" *ngFor="let item of epalist; index as i" 
              (opened)="panelOpenState = true" [expanded]="indexExpanded == i" (closed)="panelOpenState = false">
              <mat-expansion-panel-header [collapsedHeight]="'70px'" [expandedHeight]="'70px'">
                <mat-panel-title>
                  {{ item.meetingwith }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent #epa>
                <div *ngIf="item.recordings.file != ''; else showrecx">
                  
                  <div class="recoder-static">
                    <audio controls>
                      <source [src]="item.recordings.file" type="audio/mp3" controls />
                    </audio>
                  </div>
                  
                </div>
                <ng-template #showrecx>
                  <div *ngIf="!isRecording && blobUrl; else elseBlock">
                    <div class="panel-expanded-player">
                      <div class="replay">Replay</div>
                      <div class="player">
                        <audio controls>
                          <source [src]="blobUrl" type="audio/wav" />
                        </audio>
                      </div>
                      <div class="saverecord">
                        <button id="saverecord" mat-icon-button style="color:#98D34D;" color="#98D34D"
                          matTooltipPosition="above" matTooltip="Save Recording" (click)="
                            saveRecordedData(item.EPA); buttonDisabled = true
                          ">
                          <mat-icon>check</mat-icon>
                        </button>
                      </div>
                      <div class="deleterec">
                        <button mat-icon-button style="color:#DD0F0F;" matTooltipPosition="above"
                          matTooltip="Clear Recording" (click)="
                            clearRecordedData(item.EPA); buttonDisabled = true
                          ">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                  <ng-template #elseBlock>
                    <div class="panel-expanded">
                      <div class="record-copy-3">Record</div>
                      <div class="recbutton">
                        <div *ngIf="!isRecording && !blobUrl; else showstop">
                          <button mat-icon-button matTooltipPosition="above" matTooltip="Start Recording"
                            class="oval-copy-5   oval-copy-7" (click)="
                              startRecording(item.EPA); buttonDisabled = true
                            ">
                            <mat-icon style="margin-bottom: 5px;">mic</mat-icon>
                          </button>
                        </div>
                        <ng-template #showstop>
                          <button id="stoprecord" mat-icon-button matTooltipPosition="above" matTooltip="Stop Recording"
                            class="oval-copy-5  oval-copy-7" (click)="
                              stopRecording(item.EPA); buttonDisabled = true
                            ">
                            <mat-icon style="margin-bottom: 10px;">stop</mat-icon>
                          </button>
                        </ng-template>
                      </div>
                      <div>
                        <span class="progressbar">
                          Time :
                          {{ recordedTime == "" ? "00:00" : recordedTime }} /
                          02:00</span>
                      </div>
                    </div>
                  </ng-template>
                </ng-template>
              </ng-template>
            </mat-expansion-panel>
          </mat-accordion>
        </section>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <section class="child2">
          <button class="submitrec mat-primary" (click)="submitRecordings()">
            Submit recording
          </button>
        </section>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<router-outlet></router-outlet>