 

html * {
  font-family: Open Sans !important;
  font-size: 16px !important;
  font-weight: 300 !important;
  letter-spacing: 0 !important;

  audio {
    width: 200px;
  }
}

$cyber-accent: #77b13e;
$cyber-primary: #98d34d;
$cyber-dark: #77b13e;
$cyber-green: #77ba9b;
$cyber-yellow: #ffba0c;
$cyber-title: #413c58;

.decision-label {
  font-size: 16px;
  font-weight: 700;
  color: #8781a4;
  padding-bottom: 3px;
}
.recoder-static {
  margin-left: 72px;
  margin-top: 16px;
}
audio {
  width: 260px;
}
.panel-expanded {
  display: flex;
  align-items: center;
  margin-top: 26px;
  margin-left: 16px;
}
.panel-expanded-player {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 16px;
  margin-left: 8px;
}
.replay {
  flex-grow: 1;
  flex: 2 auto;
  height: 22px;
  width: 52px;
  color: #777198;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: 16px;
  margin-left: 8px;
}
.player {
  flex-grow: 4;
  flex: 2 auto;
  margin-bottom: 10px;
  width: 250px;
}
.saverecord {
  flex-grow: 1;
  flex: 1 0 0;
  margin-top: 6px;
}
.deleterec {
  flex-grow: 1;
  flex: 1 0 0;
  margin-top: 6px;
}

.oval-copy-5 {
  height: 28px;
  width: 28px;
  background-color: #ffffff;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.21);
  margin-bottom: 5px;
}
.recbutton {
  color: #dd0f0f;
  flex-grow: 1;
  right: 30px;
}

.row {
  background-color: white;
}

.progressbar {
  flex-grow: 10;
  margin-right: 150px;
}
.rectangle-8 {
  box-sizing: border-box;
  height: 70px;
  width: 409px;
  border: 1px solid #9b9b9b;
  border-radius: 8px;
  background-color: #ffffff;
}

.record-copy-3 {
  height: 22px;
  width: 55px;
  color: #777198;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 22px;
  flex-grow: 1;
}
.rectangle-copy-17 {
  height: 88px;
  width: 407px;
  background-color: #f2f2f2;
}
.oval-copy-7 {
  height: 28px;
  width: 28px;
  background-color: #ffffff;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.21);
}

.cyberWrap {
  padding: 20px;
}
.rectangle-copy-2 {
  height: 10px;
  width: 10px;
  border-radius: 0.76px;
  background-color: #dd100e;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.08);
}
.outer-card {
  height: 570px;

  padding-right: 0px;
  padding-top: 25px;
  padding-left: 75px;
  @media (max-width: 767px) {
    height: 630px;
  }
}

.h3 {
  text-align: left;
  line-height: 22px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  float: left;
  margin-bottom: 0;
  width: 100%;
  color: #77b13e;
  font-size: 18px !important;
  font-weight: 600;
  margin-top: 20px !important;
}

.section-header {
  background-color: $cyber-primary;
  font-size: 14px;
  color: #fff;
  padding: 5px 10px;
  width: 100%;
  min-width: 100%;
}

.description-paragrap {
  color: #706b87;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 20px;
}

.description {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;

  margin-bottom: 0;
  width: 100%;
  color: #77b13e;
  @media (max-width: 767px) {
    padding: 20px 10px;
  }
}

.oval-copy-6 {
  height: 12px;
  width: 12px;
  background-color: #dd0f0f;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.08);
}

.record-copy-6 {
  height: 22px;
  width: 55px;
  color: #777198;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 22px;
}
.rectangle-copy-17 {
  height: 88px;
  width: 407px;
  background-color: #f2f2f2;
}

.submitrec {
  height: 34px;
  width: 139px;
  border-radius: 37px;
  background-color: #98d34d;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}
.mat-expansion-panel-header-title {
  color: rgb(155, 155, 155) !important;
}

::ng-deep .mat-expansion-panel-header {
  margin-bottom: 5px;
  margin-left: 20px;
  box-sizing: border-box;
  height: 70px;
  width: 410px;
  border: 1px solid #9b9b9b !important;
  border-radius: 8px !important;
  background-color: #ffffff;
  color: rgb(155, 155, 155);
  font-family: "Open Sans", sans-serif;
}
::ng-deep .mat-expansion-panel-body {
  width: 410px;
  height: 100px;
  margin-left: 23px;
  border-radius: 8px;
  padding: 1px !important;
  height: 88px;
  width: 407px;
  background-color: #f2f2f2;
}
::ng-deep .mat-card-content {
  height: 330px;
  overflow: scroll;
  overflow-x: hidden;
}
.mat-card-actions {
  height: 45px;
  align-items: baseline;
}
.mat-card-header {
  margin-bottom: 25px;
}
.parent {
  height: 300px;
  margin-top: 10px;
}
.child2 {
  float: right;
  padding-right: 24px;
  padding-top: 15px;
}
